.kiosk-exit-button {
    position: fixed;
    z-index: 9999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--bs-font-sans-serif) !important;
}

/* Position variants */
.kiosk-exit-button-top-right {
    top: 20px;
    right: 20px;
}

.kiosk-exit-button-top-left {
    top: 20px;
    left: 20px;
}

.kiosk-exit-button-bottom-right {
    bottom: 20px;
    right: 20px;
}

.kiosk-exit-button-bottom-left {
    bottom: 20px;
    left: 20px;
}

/* Size variants */
.kiosk-exit-button-small {
    width: min(3vw, 3vh);
    height: min(3vw, 3vh);
    font-size: 32px;
}

.kiosk-exit-button-medium {
    width: min(4vw, 4vh);
    height: min(4vw, 4vh);
    font-size: 48px;
}

.kiosk-exit-button-large {
    width: min(5vw, 5vh);
    height: min(5vw, 5vh);
    font-size: 64px;
}